<nav>
  <div class="nav-wrapper light-blue darken-1">
    <a href="{{ path('faq_index') }}" class="brand-logo">faq<span class="teal-text text-accent-2">Oclock</span></a>
    <a href="#" data-target="mobile-sidebar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{ path('admin') }}"><i class="material-icons left">settings</i>Accès admin</a></li>
        <li><a href="{{ path('user_index') }}"><i class="material-icons left">people</i>Users</a></li>
        <li><a href="{{ path('question_index') }}"><i class="material-icons left">forum</i>Questions</a></li>
        <li><a href="{{ path('answer_index') }}"><i class="material-icons left">insert_comment</i>Answers</a></li>
        <li><a href="{{ path('tag_index') }}"><i class="material-icons left">local_offer</i>Tags</a></li>
        <li><a href="{{ path('user_show', {'id' : app.user.id}) }}"><i class="material-icons left">account_box</i>My Account</a></li>
        <li><a href="{{ path('app_logout') }}"><i class="material-icons left">exit_to_app</i>Log Out</a></li>
    </ul>

    <ul class="sidenav" id="mobile-sidebar">
      <li><a href="{{ path('admin') }}"><i class="material-icons left">settings</i>Accès admin</a></li>
      <li><a href="{{ path('user_index') }}"><i class="material-icons left">people</i>Users</a></li>
      <li><a href="{{ path('question_index') }}"><i class="material-icons left">forum</i>Questions</a></li>
      <li><a href="{{ path('answer_index') }}"><i class="material-icons left">insert_comment</i>Answers</a></li>
      <li><a href="{{ path('tag_index') }}"><i class="material-icons left">local_offer</i>Tags</a></li>
      <li><a href="{{ path('user_show', {'id' : app.user.id}) }}"><i class="material-icons left">account_box</i>My Account</a></li>
      <li><a href="{{ path('app_logout') }}"><i class="material-icons left">exit_to_app</i>Log Out</a></li>
    </ul>
          
  </div>
</nav>